body {
  background-color: #f7f5f2;
}

header {
  position: relative;
  overflow: hidden;
  padding: 154px 0 100px;
}

header > .container > h1,
header > .container > h2,
header > .container > p {
  position: relative;
  z-index: 2;
}

.header-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.8;
  transform: translate3d(0%, -245px, 0px);
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 100px 0;
}

.main-image {
  margin-top: 20px;
  margin-left: -200px;
  width: 350px;
  opacity: 1;
}

.dance-image {
  position: absolute;
  margin-top: 0px;
  margin-left: 135px;
  width: 350px;
  opacity: 1;
}

.facebook-image {
  width: 150px;
  padding-top: 10px;
}
