body {
  background-color: #f7f5f2;
}

header {
  position: relative;
  overflow: hidden;
  padding: 154px 0 100px;
}

header > .container > h1,
header > .container > h2,
header > .container > p {
  position: relative;
  z-index: 2;
}

.header-image {
  position: absolute;
  left: 0;
  top: -2em;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

section {
  padding: 100px 0;
}

.main-image {
  margin-top: 20px;
  margin-left: -200px;
  width: 350px;
  opacity: 1;
}

.dance-image {
  position: absolute;
  margin-top: 0px;
  margin-left: 135px;
  width: 350px;
  opacity: 1;
}

.facebook-image {
  width: 150px;
  padding-top: 10px;
}

/* Large devices (desktops) and up */
@media screen and (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #app > div > div > div > div:nth-child(2) > header > img {
    top: 3em !important;
  }
}

/* Small devices (phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  #app > div > div > div > div:nth-child(2) > header > img {
    top: 3em !important;
  }
  header > .container > h1 {
    font-size: 2rem !important;  
  }
  header > .container > h2 {
    font-size: 1.5rem; 
  }
  header > .container > p {
  }
}

